api_key: 'key'
company: 'company'
company_address: 'address'
company_city: 'city'
company_state: 'state'
company_zip: '123123'
country: 'Country'
company_phone: 'phone'
from_name: 'From'
from_email: 'from@email'
notifications_email: 'notify@email'